 
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT="" 
AZURE_OPENAI_API_VERSION="2024-12-01-preview"
SERPER_API_KEY=""

GEMINI_API_KEY=""

NEXUS_LLM_PROVIDER="gemini"

LLAMA_CLOUD_API_KEY = ""

FINANCIAL_DATA_DB_PATH="backend/db/nexus.db"
PARSED_FILE_PATH="parsed_data"